SERVER_PORT = 6969
MONGO_URI =

#ADD API KEY OF ATOMA FOR ATOMA NETWORK
OPENAI_API_KEY=
OPENAI_API_URL=https://api.atoma.network/v1        
SMALL_OPENAI_MODEL=deepseek-ai/DeepSeek-R1
MEDIUM_OPENAI_MODEL=deepseek-ai/DeepSeek-R1
LARGE_OPENAI_MODEL=deepseek-ai/DeepSeek-R1 
EMBEDDING_OPENAI_MODEL=intfloat/multilingual-e5-large-instruct

#Wallet Pnemonics
MNEMONICS=
#Contract
PACKAGE_ID=
MODULE_NAME=