SERVER_PORT = 6969
MONGO_URI =

#ADD API KEY OF ATOMA FOR ATOMA NETWORK
OPENAI_API_KEY=
OPENAI_API_URL=https://api.atoma.network/v1        
SMALL_OPENAI_MODEL=meta-llama/Llama-3.3-70B-Instruct 
MEDIUM_OPENAI_MODEL=meta-llama/Llama-3.3-70B-Instruct
LARGE_OPENAI_MODEL=meta-llama/Llama-3.3-70B-Instruct 
EMBEDDING_OPENAI_MODEL=intfloat/multilingual-e5-large-instruct